* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  min-height: 5000px;
}

.jumbotron {
  background-image: url("assets/bgHeader.jpg");
  background-size: cover;
  position: static;
  height: 120vh;
}
.titleHero1 {
  margin-top: 30vh;
}
.what {
  color: #010d57;
}
.waves1 {
  margin-top: -30vh;
  background-image: cover;
}
.bg {
  background-color: #2770be;
  height: 50vh;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media (min-width: 576px) {
}

@media (max-width: 768px) {
  .custom-shape-divider-top-1625208143 svg {
    width: calc(142% + 1.3px);
    height: 107px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

/** Utilities **/

/* Font Size */
.fs-12 {
  font-size: 0.75rem;
}
.fs-14 {
  font-size: 0.88rem;
}
.fs-18 {
  font-size: 1.13rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-24 {
  font-size: 1.5rem;
}
.fs-40 {
  font-size: 2.5rem;
}

/* Font Color */
.stratos {
  color: #010d57;
}

/* Margin Top */
.mt-9 {
  margin-top: 9rem;
}
.mt-10 {
  margin-top: 10em;
}
.mt-17 {
  margin-top: 17em;
}

@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
.wrapper {
  width: 100vw;
  text-align: center;
}
.wrapper span {
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: #000;
  font-size: 100px;
  text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
  transform: translate(0, 100%) rotate(4deg);
  animation: jump 2s ease-in-out infinite;
  display: inline-block;
  font-family: "Titan One", cursive;
  color: #fff;
}
.wrapper span:nth-child(1) {
  animation-delay: 120ms;
}
.wrapper span:nth-child(2) {
  animation-delay: 240ms;
}
.wrapper span:nth-child(3) {
  animation-delay: 360ms;
}
.wrapper span:nth-child(4) {
  animation-delay: 480ms;
}
.wrapper span:nth-child(5) {
  animation-delay: 600ms;
}
.wrapper span:nth-child(6) {
  animation-delay: 720ms;
}
.wrapper span:nth-child(7) {
  animation-delay: 840ms;
}

@keyframes jump {
  33% {
    text-shadow: 0 60px #f37121, 0 150px #f2aaaa;
  }
  50% {
    transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
  }
  66.67% {
    text-shadow: 0 -60px #d54062, 0 -150px #8fc0a9;
  }
}
html {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: white;
}

@media screen and (max-height: 200px) {
  .wrapper {
    transform: scale(0.3, 0.3);
  }
}
@media screen and (max-width: 576px) {
  .wrapper span {
    font-size: 50px;
  }
}
