* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

/* Hero */
.jumbotron {
  background-image: url("assets/bgHeader.jpg");
  background-size: cover;
  position: static;
  height: 60vh;
}
.titleHero1 {
  margin-top: 30vh;
  font-size: 20px;
}
.titleHero2 {
  font-size: 15px;
}
.who {
  font-size: 18px;
}
.textWho {
  font-size: 14px;
}
.what {
  font-size: 18px;
  color: #010d57;
}
.textWhat {
  font-size: 14px;
}
.text {
  font-size: 12px;
}
.our {
  font-size: 18px;
}
.title {
  font-size: 14px;
}

.waves1 {
  margin-top: -15vh;
  background-image: cover;
  width: 100%;
}
.bg {
  background-color: #2770be;
  height: 30vh;
  margin-top: -3vh;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
/* End Hero */

/* Footer */
.container-fluid .bg-ceruleanBlue {
  height: 100px;
}
/* End Footer */




@media (min-width: 576px) {
  .jumbotron {
    background-image: url("assets/bgHeader.jpg");
    background-size: cover;
    position: static;
    height: 85vh;
  }
  h1 {
    font-size: 24px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 18px;
  }
  .who {
    margin-top: -10vh;
  }
  .title {
    margin-top: 10px;
  }
  .waves1 {
    margin-top: -35vh;
    background-image: cover;
  }
  .bg {
    height: 50vh;
  }
  .mt-sm-10 {
    margin-top: 10em;
  }
  .mt-sm-17 {
    margin-top: 17em;
  }
}

@media (max-width: 768px) {
  .mt-sm-10 {
    margin-top: 10em;
  }
  .mt-sm-17 {
    margin-top: 17em;
  }
}

@media (min-width: 992px) {
  .jumbotron {
    background-image: url("assets/bgHeader.jpg");
    background-size: cover;
    position: static;
    height: 120vh;
  }
  .titleHero1 {
    font-size: 50px;
    margin-top: 50vh;
  }
  .titleHero2 {
    font-size: 30px;
  }
  .textWho {
    font-size: 24px;
  }
  .mt-sm-10 {
    margin-top: 10em;
  }
  .mt-sm-17 {
    margin-top: 17em;
  }
}

@media (min-width: 1200px) {
  .mt-sm-10 {
    margin-top: 10em;
  }
  .mt-sm-17 {
    margin-top: 17em;
  }
}

@media (min-width: 1400px) {
  .mt-sm-10 {
    margin-top: 10em;
  }
  .mt-sm-17 {
    margin-top: 17em;
  }
}

/** Utilities **/

/* Font Size */
.fs-12 {
  font-size: 0.75rem;
}
.fs-14 {
  font-size: 0.88rem;
}
.fs-18 {
  font-size: 1.13rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-24 {
  font-size: 1.5rem;
}
.fs-40 {
  font-size: 2.5rem;
}

/* Background Color */
.bg-ceruleanBlue {
  background-color: #2770be;
}
.bg-prussianBlue {
  background-color: #010d57;
}
/* Font Color */
.prussianBlue
{
  color: #010d57;
}
.ceruleanBlue {
  color: #2770BE;
}

/* Margin Top */
.mt-9 {
  margin-top: 9rem;
}



